<nav class="navbar navbar-expand-lg navCol">
   <img class="logo" src="../../../assets/img/13.png" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i style="color: #fff;" class="fa-solid fa-ellipsis"></i></span>
    </button>
  
    <div class="collapse navbar-collapse  myNav" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/findMentor">Find a Mentor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/MsignUp">Be a Mentor</a>
        </li>
        <li *ngIf="!isLogin" class="nav-item">
          <a class="nav-link" routerLink="/login">Log in</a>
        </li>
        <li *ngIf="isLogin" class="nav-item">
          <a class="nav-link" routerLink="/">Log out</a>
        </li>
        <li *ngIf="!isLogin" class="nav-item mr-5">
          <a class="nav-link" routerLink="/signUp">Sign up</a>
        </li>
      </ul>
    
    </div>
  </nav>