<div class="w-75 m-5">
  <div class="d-flex justify-content-cente">
    <div class="col-lg-4">
        <div style="background-color: #0b3b4f88;" class="rounded-circle">
            <img src="../../../assets/img/tudo.jpg" alt="" class="w-100 img-fluid rounded-circle">

        </div>
      <h4 class="card-title text-center">Tawadros Gamal</h4>
      <p class="card-text clr1 text-center">Data Science</p>
      <!-- Button trigger modal -->
      <button type="button" class="btn btnCol btn-block" data-toggle="modal" data-target="#exampleModal">
        Book Session
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"> Book Session </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Your email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                  <label for="question">Type your question here or what you want to ask about: </label>
                  <input type="text" class="form-control" id="question" aria-describedby="emailHelp">
                </div>
                <small><span style="color: brown;">Note that:</span> The mentor has the right to accept your question
                  and set a date with you to answer it or reject it and not respond<span style="color: brown;">!!!</span> </small>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btnCol">submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-7 m-5">
      <h1>contacts:</h1>
      <p>
        Linkedin: <a
          href="https://www.linkedin.com/in/tawadrosgamal/
          ">https://www.linkedin.com/in/tawadrosgamal/
        </a> <br>
        GitHub: <a href="#"></a> <br>
        Gmail: <a href="#"> </a> <br>
      </p>
      <h1>About:</h1>
      <p>
        AI engineer @ CliniDo | Data Scientist @ Egirna | GDG Assiut Orgainser and Co founder | Deep Learning Engineer | AWS Community builder.. <br>
        A passionate Data Scientist with a Vision for a better world with the help of Data and AI. 
        excited to put AI in every field in life to make the best use of what we have of data in order to turn it into a flourishing field and make the lives of everyone easier.
        Skilled in machine learning, statistics, problem-solving, data visualization, GCP, AWS, and Python
        interested in data science, AI, ML, and Deep Learning
        Always developing my skills and growing professionally.
        Worked on diﬀerent types of datasets and models and looking for new challenges.        
      </p>
    </div>
  </div>
</div>
