<div class="w-75 m-5">
  <div class="d-flex justify-content-cente">
    <div class="col-lg-4">
        <div style="background-color: #0b3b4f88;" class="rounded-circle">
            <img src="../../../assets/img/casual-life-3d-female-metis-t-shirt-pose-3.png" alt="" class="w-100 img-fluid rounded-circle">

        </div>
      <h5 class="card-title text-center">Ashrakat Helmi</h5>
      <p class="card-text clr1 text-center">front end</p>
      <!-- Button trigger modal -->
      <button type="button" class="btn btnCol btn-block" data-toggle="modal" data-target="#exampleModal">
        Book Session
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"> Book Session </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Your email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                  <label for="question">Type your question here or what you want to ask about: </label>
                  <input type="text" class="form-control" id="question" aria-describedby="emailHelp">
                </div>
                <small><span style="color: brown;">Note that:</span> The mentor has the right to accept your question
                  and set a date with you to answer it or reject it and not respond<span style="color: brown;">!!!</span> </small>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btnCol">submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-7 m-5">
      <h1>contacts:</h1>
      <p>
        Linkedin: <a
          href="https://www.linkedin.com/in/ashrakat-elkady-86aa26204 ">https://www.linkedin.com/in/ashrakat-elkady-86aa26204
        </a> <br>
        GitHub: <a href="https://github.com/Ashrakat-Helmi">https://github.com/Ashrakat-Helmi</a> <br>
        Gmail: <a href=" ashrakat5elkady@gmail.com"> ashrakat5elkady@gmail.com</a> <br>
      </p>
      <h1>About:</h1>
      <p>
        Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa. Lorem Ipsum è
        considerato il testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo tipografo prese una
        cassetta di caratteri e li assemblò per preparare un testo campione. È sopravvissuto non solo a più di cinque
        secoli, ma anche al passaggio alla videoimpaginazione, pervenendoci sostanzialmente inalterato. Fu reso
        popolare, negli anni 60, con la diffusione dei fogli di caratteri trasferibili “Letraset”, che contenevano
        passaggi del Lorem Ipsum, e più recentemente da software di impaginazione come Aldus PageMaker, che includeva
        versioni del Lorem Ipsum.
      </p>
    </div>
  </div>
</div>
