<section class="sec1">
  <div>
    <div class=" row d-flex justify-content-center pad">
      <div class=" col-lg-5">
        <h1 class="h1Font clr2">Get mentored by experts <br> in busness & tech</h1>
        <p class="pFont clr2">connect with experienced mentors to help navigate your career path and build your skillset
          with
          confidence.</p>
        <a routerLink="/signUp"> <button type="button" class="btn btnCol mx-3">Sign up</button></a>
        <a routerLink="/login"><button type="button" class="btn btnCol">Log in</button></a>

      </div>
      <div class="col-lg-5">
        <img src="../../assets/img/casual-life-3d-likes.png" class="img-fluid w-100" alt="">
      </div>
      <div class="col-lg-8">
        <form class="form-inline my-5 ">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>
      <div class="col-lg-12 d-flex justify-content-center">
        <div class="col-lg-3"><img
            src="../../assets/img/casual-life-3d-girl-and-boy-sitting-on-the-floor-and-reading-books-1.png" alt=""
            class="img-fluid"></div>
        <div class="col-lg-3"><img src="../../assets/img/casual-life-3d-reading.png" alt="" class="img-fluid"></div>
        <div class="col-lg-3"><img src="../../assets/img/casual-life-3d-man-and-woman-sitting-in-chairs.png" alt=""
            class="img-fluid"></div>
      </div>

    </div>
  </div>
</section>
<section class="sec2">
  <div class="row d-flex justify-content-around">
    <div class="col-lg-6">
      <h1 class="h1Font clr1">Go From Zero to Hero, <br>one skill at a time</h1>
      <p class="pFont clr1"> Mentor With connects you with experienced mentors to guide you in the personal and
        professional skills you want to build via one-to-one mentorship sessions online.</p>
      <a href="" class="clr1 h1Font">Click to watch video >></a>
      <br><br>
    </div>
    <div class="col-lg-4 ">
      <img src="../../assets/img/casual-life-3d-girl-and-boy-sitting-with-laptop.png" alt="" class="img-fluid w-75">
    </div>
  </div>

</section>
<section class="sec3 clr3  text-center ">
  <br>
  <h1 class="h1Font clr3 text-center ">Build a future-proof skillset</h1><br>
  <div class="row d-flex justify-content-around mt-5">
    <div class="col-lg-3 m-5 ">
      <h2>

        Agile Management <br>
        AR/VR/MR<br>
        Artificial Intelligence<br>
        Big Data<br>
        Bioinformatics<br>
        Blockchain Technologies<br>
        Brand Management<br>
        Business Development<br>
        Business Analysis<br>
        Career Development<br>
        Cloud Computing<br>
        Corporate Innovation<br>
        Cyber Security <br>
        Data Analytics <br>
        Data Mining<br>
        Database Development<br>
      </h2>
    </div>
    <div class="col-lg-3 m-5">
      <h2>

        Deep Learning<br>
        Design Thinking<br>
        Digital Marketing<br>
        Digital Transformation<br>
        Embedded Systems<br>
        Event Management<br>
        Full-stack Development <br>
        Graphic Design<br>
        Growth Marketing<br>
        Human Resources <br>
        Industrial Product Design<br>
        Information Security <br>
        Internet of Things<br>
        Knowledge Management<br>
        Learning & Development<br>
        Life Coaching<br>
        Machine Learning <br>
      </h2>
    </div>
    <div class="col-lg-3 m-5">
      <h2>

        Mobile Development <br>
        Personal Branding<br>
        Pre-sales Development<br>
        Product Development <br>
        Product Management<br>
        Project Management<br>
        Remote Work <br>
        Sales Development <br>
        Soft Skills<br>
        Strategic Communication<br>
        Solution Architecture <br>
        Supply Chain Management<br>
        Sustainable Development<br>
        Team Management <br>
        Telecommunications<br>
        UI/UX Design<br>
        Web Development<br>
        <br>
        <br>
        <br>
      </h2>
    </div>
  </div>
</section>
<section class="sec4">
  <br>
  <h1 class="h1Font clr1 text-center">Meet our Mentors</h1><br>
  <div class="row d-flex justify-content-around mt-5">
    <div class="col-lg-2 mt-5 mr-3 ">
      <div class="card" style="width: 16rem;">
        <img src="../../assets/img/casual-life-3d-female-metis-t-shirt-pose-3.png" class="rounded-circle" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ashrakat</h5>
          <p class="card-text clr1">Uncategorized</p>
          <p class="card-text">Available</p>
          <a href="#" class="card-link">Read more</a>
        </div>
      </div>
    </div>
    <div class="col-lg-2 mt-5 mr-3">
      <div class="card" style="width: 16rem;">
        <img src="../../assets/img/casual-life-3d-female-metis-t-shirt-pose-3.png" class="rounded-circle" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ashrakat</h5>
          <p class="card-text clr1">Uncategorized</p>
          <p class="card-text">Available</p>
          <a href="#" class="card-link">Read more</a>
        </div>
      </div>
    </div>
    <div class="col-lg-2 mt-5 mr-3">
      <div class="card" style="width: 16rem;">
        <img src="../../assets/img/casual-life-3d-female-metis-t-shirt-pose-3.png" class="rounded-circle" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ashrakat</h5>
          <p class="card-text clr1">Uncategorized</p>
          <p class="card-text">Available</p>
          <a href="#" class="card-link">Read more</a>
        </div>
      </div>
    </div>
    <div class="col-lg-2 mt-5 mr-3">
      <div class="card" style="width: 16rem;">
        <img src="../../assets/img/casual-life-3d-female-metis-t-shirt-pose-3.png" class="rounded-circle" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ashrakat</h5>
          <p class="card-text clr1">Uncategorized</p>
          <p class="card-text">Available</p>
          <a href="#" class="card-link">Read more</a>
        </div>
      </div>
    </div>
    <div class="col-lg-2 mt-5 mr-3">
      <div class="card" style="width: 16rem;">
        <img src="../../assets/img/casual-life-3d-female-metis-t-shirt-pose-3.png" class="rounded-circle" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ashrakat</h5>
          <p class="card-text clr1">Uncategorized</p>
          <p class="card-text">Available</p>
          <a href="#" class="card-link">Read more</a>
        </div>
      </div>
    </div>

  </div>
  <div class="text-center">
    <a routerLink="/findMentor"> <button class="btn btnCol mx-5 my-5 w-25"> See all mentors ></button></a>
  </div>
  <h1 class="h1Font clr1 text-center">Upcoming Events</h1><br>
  <div class="row d-flex justify-content-around my-5">
    <div *ngFor="let event of eventData" class="col-lg-2 mt-5 mr-3">
      <div class="card" style="width: 16rem;">
        <div class="card-body">
          <h5 class="card-title">{{event.title}} </h5>
          <p class="card-text clr1">{{event.mentorId}} </p>
          <p class="card-text">{{event.date}} </p>
          <a href="#" class="card-link">Book Now</a>
        </div>
      </div>
    </div>

    <div class="col-lg-2 mt-5 mr-3">
      <div class="card" style="width: 16rem;">

        <div class="card-body">
          <h5 class="card-title">intro to db</h5>
          <p class="card-text clr1">mina hany</p>
          <p class="card-text">2023-12-07</p>
          <a href="#" class="card-link"> <button class="btn btnCol"> Book Now</button></a>
        </div>
      </div>
    </div>
    <div class="col-lg-2 mt-5 mr-3">
      <div class="card" style="width: 16rem;">

        <div class="card-body">
          <h5 class="card-title">intro to db</h5>
          <p class="card-text clr1">mina hany</p>
          <p class="card-text">2023-12-07</p>
          <a href="#" class="card-link"> <button class="btn btnCol"> Book Now</button></a>
        </div>
      </div>
    </div>
    <div class="col-lg-2 mt-5 mr-3">
      <div class="card" style="width: 16rem;">

        <div class="card-body">
          <h5 class="card-title">intro to db</h5>
          <p class="card-text clr1">mina hany</p>
          <p class="card-text">2023-12-07</p>
          <a href="#" class="card-link"> <button class="btn btnCol"> Book Now</button></a>
        </div>
      </div>
    </div>
    <div class="col-lg-2 mt-5 mr-3">
      <div class="card" style="width: 16rem;">

        <div class="card-body">
          <h5 class="card-title">intro to db</h5>
          <p class="card-text clr1">mina hany</p>
          <p class="card-text">2023-12-07</p>
          <a href="#" class="card-link"> <button class="btn btnCol"> Book Now</button></a>
        </div>
      </div>
    </div>

  </div>

</section>
<section class="sec5">
  <br>
  <h1 class="h1Font clr1 text-center ">What you'll gain</h1><br>
  <div class="row d-flex justify-content-around mt-5">
    <div class="col-lg-3">
      <div class="icondiv"> <i class="fa-solid fa-compass clr1 icon1"></i></div>
      <h1 class="h1icon"> chart your<br>
        career path</h1>
      <p class="picon"> Get exposed to different job
        roles and meet with experts in
        the industry who can guide you
        to your next career step</p>
    </div>
    <div class="col-lg-3">
      <div class="icondiv"> <i class="fa-solid fa-fire clr1 icon1 "></i></div>
      <div>
        <h1 class="h1icon"> Beat your in-job challenges</h1>
        <p class=" picon">Get the aha insights and guidance you need in overcoming challenges you face on the job.</p>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="icondiv"> <i class="fa-solid clr1 icon1 fa-book-open-reader"></i> </div>
      <h1 class="h1icon"> Plan your learning path</h1>
      <p class=" picon">Identify what you need to learn,
        the skills you need to gain and
        the required credentials for
        your chosen career path.</p>
    </div>
    <div class="col-lg-3">
      <div class="icondiv"><i class="fa-solid clr1 icon1 fa-comments"></i></div>
      <h1 class="h1icon"> Get feedback as you learn</h1>
      <p class=" picon"> Follow up with mentors for feedback on your performance and support in reaching your learning
        milestones.</p>
    </div>



  </div>
  <br>
  <br>
  <br>
</section>
<section class="sec6">
  <br>
  <h1 class="h1Font  text-center ">How does it work?</h1><br>
  <div class="row d-flex justify-content-around">
    <div class="col-lg-3">
      <span class="Text-Style">1</span>
      <img src="../../assets/img/casual-life-3d-female-metis-t-shirt-pose-3.png" alt="" class="img-fluid">
      <p class="pFont text-center">Define the skill you want to
        build or field you seek advice in</p>
    </div>
    <div class="col-lg-3">
      <span class="Text-Style">2</span>
      <img src="../../assets/img/casual-life-3d-female-metis-t-shirt-pose-notebook-2.png" alt="" class="img-fluid">
      <p class="pFont text-center">Explore recommended mentors who have the
        skill or expertise you need</p>
    </div>
    <div class="col-lg-3">
      <span class="Text-Style">3</span>
      <img src="../../assets/img/casual-life-3d-girl-and-boy-working-together(1).png" alt="" class="img-fluid">
      <p class="pFont text-center">Start your mentoring journey & book online
        sessions with your chosen mentor</p>
    </div>
  </div>
  <br>
  <br>
  <br>
</section>
<section class="sec7">
  <div class=" row d-flex justify-content-center pad">
    <div class=" col-lg-7">
      <h1 class="h1Font clr1">Start your mentorship journey today</h1>
      <p class="pFont clr1">Invest in building your skillset in business and technology.</p>
      <a routerLink="/MsignUp"><button type="button" class="btn btnCol mt-5 mx-3">Sign up</button></a>
      <a routerLink="/"> <button type="button" class="btn btnCol mt-5">Log in</button></a>


    </div>
    <div class="col-lg-4">
      <img src="../../assets/img/casual-life-3d-likes.png" class="img-fluid w-100" alt="">
    </div>
  </div>
</section>
<section class="sec8">
  <h1 class="h1Font text-center">Have the expertise & want to share it? </h1>
  <p class="pFont text-center">Mentor with helps you gain exposure and promote your subject matter expertise.<br>
    join us if you want to make an income by making an impact. </p>
  <a routerLink="/MsignUp"> <button class="btn btnMentor btnCol">Be a mentor</button></a>

  <div class="row d-flex justify-content-center">
    <div class="col-lg-3"><img
        src="../../assets/img/casual-life-3d-girl-and-boy-sitting-on-the-floor-and-reading-books-1.png" alt=""
        class="img-fluid"></div>
    <div class="col-lg-3"><img src="../../assets/img/casual-life-3d-reading.png" alt="" class="img-fluid"></div>
    <div class="col-lg-3"><img src="../../assets/img/casual-life-3d-man-and-woman-sitting-in-chairs.png" alt=""
        class="img-fluid"></div>
  </div>
</section>
