<section class="footer">
  <div class=" flex-wrap d-flex justify-content-around">
    <div class="col-md-7 mt-5">
      <img class="logo" src="../../../assets/img/13.png" alt="">
      <p class="clrfot ml-5">A skill mentorship platform for the next generation of youth talent in business <br> and
        tech that connects you to
        subject matter experts via online mentorship.</p>
      <a href=""><i class="fa-brands fa-facebook mx-2"></i></a>
      <a href=""><i class="fa-brands fa-twitter mx-2"></i></a>
      <a href=""><i class="fa-brands fa-instagram mx-2"></i></a>
      <a href=""><i class="fa-brands fa-linkedin mx-2"></i></a>
      <a href=""><i class="fa-brands fa-youtube mx-2"></i></a>
      <a href=""><i class="fa-brands fa-google mx-2"></i></a>

    </div>
    <div class="col-md-4 flex-wrap d-flex  mt-5">
      <div class="col-5">
        <ul>
          <li><a href="">About us</a></li>
          <li><a href="">Home</a></li>
          <li><a href="">Manifesto</a></li>
          <li><a href="">Blog</a></li>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Terms & Conditions</a></li>
        </ul>
      </div>
      <div class="col-5">
        <ul>
          <li><a href="">Join us</a></li>
          <li><a href="">Find a mentor</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
